.m-calendar .calendar_message{
	overflow:hidden;
	word-wrap:normal;
	white-space:nowrap;
	text-overflow:ellipsis;
}
.m-calendar .calendar_message{
	box-sizing:border-box;
	display:inline-block;
	width:160px;
	height:34px;
	background:#f7f7f7;
	border:1px solid #ddd;
	-moz-border-radius:3px;
	border-radius:3px;
	padding:6px 12px;
	margin-bottom:1px;
	vertical-align:middle;
}
.m-calendar .u-input{
	display:block;
}